.adaptiveNav{
    display:flex;
    background-color: #FFF3C9;
    justify-content: center;
}

.navContainer{
    background-color: #FFF3C9;
    display: inline-flex;
    flex-flow: row;
    width: 1500px;
    height: 55px;
    justify-content: space-between;
    align-items: center;
}

.navItem{
    background-color: #FFF3C9;
    font-size: 27px;
    text-align: center;
    width: 288px;
    color: black;
    cursor: pointer;
}
.navItem:hover{
    color:white
}
.navItem a{
    font-family: Ubuntu;
    font-weight: 400;
    text-decoration: none;
    color:inherit;
}
.navItem:hover a{
    font-weight: 500;
    text-shadow: 1px 0px 0px rgba(216,120,120,1), 0px 1px 0px rgba(216,120,120,1), -1px 0px 0px rgba(216,120,120,1), 0px -1px 0px rgba(216,120,120,1);
}

@media(max-width: 1460px){
    .navContainer{
        width: 1300px;
    }
    .navItem{
        width:200px;
    }
}