.minus, .plus, .count, .price{
    display: inline-block;
}


.plus{
    position: absolute;
    top: 4px;
    left: 53px;
    height: 18.8px;
    width: 22px;
    background-image: url("../../../../../assets/icons/plusIcon.svg");
    background-repeat: round;
    background-size: cover;
    filter: brightness(0);
}

.clicked{
    filter: drop-shadow(0px 0px 1px rgb(48, 47, 47));
}

.plus:hover, .minus:hover{
    cursor:pointer;
}

.minus{
    position:absolute;
    top:5px;
    left: 8px;
    height: 16.8px;
    width: 20px;
    background-image: url("../../../../../assets/icons/minusIcon.svg");
    background-repeat: round;
    background-size: cover;
}


.productName{
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 22px;
}

.price{
    margin-left: 5px;
    margin-right: 50px;
    margin-bottom: 3px;
    color: #1E1919;
    font-weight: 300;
    font-size: 20px;
}

.countWrapper{
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 1.375rem;
}

.underline{
    margin-bottom: 5px;
    height: 3px;
    width: 80px;
    background-color: #FDA98F;
}

.addToCartButton{
    width:40px;
    height:40px;
    background-color: #FDA98F;
    border-radius: 5px;
    position: relative;
    left: 25px;
    top:8px;
}

.detailsContainer{
    padding: 0px 20px 10px 20px;
    position: relative;
    top:-5px;
}

.countBlock, .addToCartButton, .price{
    display: inline-block;
}


.countBlock{
    position: relative;
    top: -3px;
}

.countWrapper{
    margin: 0px;
}

.addToCartIcon{
    width:31px;
    height:43px;
    position:absolute;
    left:5px;
    background-image: url("../../../../../assets/icons/addToCartIcon.svg");
    background-repeat: round;
    background-size: cover;
}

.addToCartIcon:hover{
    filter: invert(100%);
}
