/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
/*body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}*/

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}


.mainWrapper, .showcaseWrapper, .accountWrapper{
    position:relative;
    background-color: #EAF4FD;
    min-height: 100vh;
}

:is(.mainWrapper, .showcaseWrapper, .accountWrapper) main .modalWrapper{
    position:absolute;
    width: 100%;
    min-height: 100vh;
    top: 0px;
    justify-content: center;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width: 1025px)
{
  :is(.mainWrapper, .showcaseWrapper, .accountWrapper) header .adaptiveWrapper > :is(div:nth-last-of-type(2), div:nth-last-of-type(5)){
    display: none;
  }

  :is(.mainWrapper, .showcaseWrapper, .accountWrapper) header .adaptiveWrapper > div:nth-last-of-type(4){
    flex: 1 6 270px;
  }

  :is(.mainWrapper, .showcaseWrapper, .accountWrapper) header .adaptiveWrapper > div:nth-last-of-type(1){
    display:block;
  }

  :is(.mainWrapper, .showcaseWrapper, .accountWrapper) header .adaptiveWrapper > div:nth-of-type(1){
    display:block;
    position:relative;
    top: -2px;
  }

  :is(.mainWrapper, .showcaseWrapper, .accountWrapper) header .adaptiveNav{
    display:none;
  }

  .modalMenuAptiveHeaderFix{
    top: 105px;
  }
}

@media (max-width: 770px)
{
  html{
      font-size: 11.5px;
    }
  
  :is(.mainWrapper, .showcaseWrapper, .accountWrapper) .adaptiveWrapper{
    height: 75px;
  }
  
  :is(.mainWrapper, .showcaseWrapper, .accountWrapper) header .adaptiveWrapper > div:nth-last-of-type(1){
    height: 40.90px;
    flex-basis: 54.54px;
  }

  :is(.mainWrapper, .showcaseWrapper, .accountWrapper) header .adaptiveWrapper > div:nth-last-of-type(3){
    height:63.63px;
    flex-basis: 54.54px;
  }

  :is(.mainWrapper, .showcaseWrapper, .accountWrapper) header .adaptiveWrapper > div:nth-of-type(1){
    height: 40.90px;
    flex-basis: 40.90px;
  }
  .modalMenuAptiveHeaderFix{
    top: 75px;
  }
}

@media (max-width: 420px){
  div .menuModalMobileStyle
  {
    width:45%;
  }
}