.rowWrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.firstHalf{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}

.secondHalf{
    flex-flow: row wrap;
    justify-content:center;
}